@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  word-break: break-word;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  transition: background 0.2s ease;
  min-height: 100%;
}

html.dark {
  background: #0f0f10;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: color 0.2s ease;
  font-family: Cantarell;
}

:root {
  color-scheme: light dark;
}

iframe {
  color-scheme: light;
}