@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: background 0.2s ease;
  min-height: 100%;
}

html.dark {
  background: rgb(19, 19, 19);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: color 0.2s ease;
  font-family: Cantarell;
}

:root {
  color-scheme: light dark;
}

iframe {
  color-scheme: light;
}